*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

header{
    background-color: #01a2a8;
    padding: 1rem 2rem;
}
/* nav */
.nav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}


.hamburger{
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line{
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: white;

}

.nav_link{
    position: fixed;
    width: 100%;
    top: 9.5rem;
    background-color: #01a2a8;
}

.nav_link a{
    display: block;
    text-align: center;
    padding: 10px 0;
}

.nav_link a:hover{
    color:rgb(23, 25, 56)
}

.hide{
    display: none;
}





@media screen and (min-width: 600px) {
    .nav_link{
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav_link a{
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger{
        display: none;
    }
}